{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    留言板
{% endblock title %}

{% block content %}
<h4>留言板</h4><br>
<div class="alert alert-info" role="alert">
    可以在这里把你想对博主说的话说出来，也可以给博客评论，提意见。
</div>
<div id="gitalk-container"></div>
<script>
var gitalk = new Gitalk({
    clientID: '5712fc9d3c3d186a514e', // GitHub Application Client ID
    clientSecret: '35c3c5995406f6ab12c818cf3eb73c4541741c1f', // GitHub Application Client Secret
    repo: 'j_django_blog'      // 存放评论的仓库
    owner: 'jackyfzh',          // 仓库的创建者，
    admin: ['jackyfzh'],        // 如果仓库有多个人可以操作，那么在这里以数组形式写出
    id: location.pathname,      // 用于标记评论是哪个页面的，确保唯一，并且长度小于50
})

gitalk.render('gitalk-container');    // 渲染Gitalk评论组件
</script>
{% endblock content %}