<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    友链
{% endblock title %}

{% block content %}
<br>
    <h4>友链</h4><hr>
    {% for friend in friends %}
    <h5><a href="{{ friend.path }}" target="view_window">{{ friend.title }}</a></h5>
    <p>{{ friend.main | safe }}</p><hr>
    {% endfor %}
    <br><br>
    <div class="alert alert-success" role="alert">
        <h5>如何申请友链</h5>
        1. 贵站是独立博客，并开通全站HTTPS，博客平台暂不接受，抱歉。<br>
        2. 贵站博客近期有更新，内容有趣。<br>
        3. 贵站也有友链专区，且不会太隐蔽。添加本站为友链。<br>
        4. 可通过邮箱（jackyfeng201314@163.com)联系，提供站名，链接以及简单描述即可。
    </div>
{% endblock content %}
