{% load staticfiles %}
<!-- Footer -->
<div>
    <br><br><br>
</div>
<nav class="navbar navbar-dark bg-dark mb-0" id="nav-footer">

    <div class="row col-12 justify-content-center">
        <div style="text-align: center; color: lightgrey;">
            <p class="mb-0">CopyRight &copy; 2020 Jacky的编程空间</p>
            <p class="mb-0">Powered by
                <a href="https://www.djangoproject.com/" target="_blank">
                    Django
                </a> &
                <a target="_blank" href="https://getbootstrap.com/">
                    Bootstrap
                </a>
                <span class="mb-0">&nbsp;沪ICP备20019721号-1</span>
                <span id="busuanzi_container_site_pv" class="mb-0">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
            </p>
        </div>
    </div>
</nav>
