{% load staticfiles %}
<!-- Footer -->
<div>
    <br><br><br>
</div>
<footer class="py-4 bg-dark" id="footer">
    <div class="container">
        <p class="mb-0">CopyRight &copy; 2020 Jacky的个人网站</p>
            <p class="m-0 text-center text-white">Powered by
                <p class="mb-0">Powered by
                <a href="https://www.djangoproject.com/" target="_blank">
                    Django
                </a> &
                <a target="_blank" href="https://getbootstrap.com/">
                    Bootstrap
                </a>
                <span class="mb-0">&nbsp;沪ICP备20019721号-1</span>
                </p>
                <span id="busuanzi_container_site_pv">
                    本站总访问量<span id="busuanzi_value_site_pv"></span>次
                </span>
                <span id="busuanzi_container_site_uv">
                    本站访客数<span id="busuanzi_value_site_uv"></span>人次
                </span>
    </div>
</footer>
