{% load staticfiles %}
<!-- Footer -->
<div>
    <br><br><br>
</div>
<footer class="py-4 bg-dark" id="footer">
    <div class="container">
        <p class="m-0 text-center text-white">CopyRight &copy; Jacky的个人网站</p>
            <p class="m-0 text-center text-white">Powered by
                <a href="https://www.djangoproject.com/" target="_blank">
                    Django2.1.8
                </a> &
                <a target="_blank" href="https://getbootstrap.com/">
                    Bootstrap4
                </a><br>
                <span id="busuanzi_container_site_pv" class="m-0">
                    本站总访问量<span id="busuanzi_value_site_pv"></span>次
                </span><br>
                <span id="busuanzi_container_site_uv" class="m-0">
                    本站访客数<span id="busuanzi_value_site_uv"></span>人次
                </span>
                <span class="m-0">沪ICP备20019721号-1</span>
            </p>
    </div>
</footer>
