{% load notifications_tags %}
{% notifications_unread as unread_count %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #adcee6;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand hvr-grow-rotate" href="{% url 'article:article_list' %}" >Jacky的编程空间</a>
    <div class="container">
    <div class="collapse navbar-collapse" id="navbarHeader">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'article:article_list' %}">文章</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'other:friends' %}">友链</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'other:about' %}">关于</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'other:comment' %}">留言</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'other:timeplan' %}">时间线</a>
            </li>
            <div class="col-auto mr-auto">
                <form class="form-inline" >
                    <label class="sr-only">content</label>
                    <input type="text" 
                        class="form-control mb-2 mr-sm-2" 
                        name="search" 
                        placeholder="搜索文章..." 
                        required
                    >
                </form>
            </div>
    {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- 小红点 -->
        {% if unread_count %}
        <svg viewBox="0 0 8 8"
            width="8px"
            height="8px">
            <circle cx="4"
                    cy="4"
                    r="4"
                    fill="#ff6b6b"
                    ></circle>
        </svg>
    {% endif %}
                {{ user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'notice:list' %}">通知
                    {% if unread_count %}
                        <span class="badge badge-danger">{{ unread_count }}</span>
                    {% endif %}
                </a>
                <a class="dropdown-item" href='{% url "userprofile:logout" %}'>退出登录</a>
                <a class="dropdown-item" href='{% url "userprofile:edit" user.id %}'>个人信息</a>
                <a class="dropdown-item" href="#" onclick="user_delete()">删除用户</a>
            </div>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'userprofile:login' %}">登录</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'userprofile:register' %}">注册</a>
        </li>                    
    <!-- if 语句在这里结束 -->
    {% endif %}
    </ul>
</div>
</div>
</nav>
<br><br>

{% if user.is_authenticated %}
<form 
    style="display:none;" 
    id="user_delete"
    action="{% url 'userprofile:delete' user.id %}" 
    method="POST"
>
{% csrf_token %}
    <button type="submit">发送</button>
</form>
    <script>
        function user_delete() {
            // 调用layer弹窗组件
            layer.open({
                title: "确认删除",
                content: "确认删除用户资料吗？",
                yes: function(index, layero) {
                    $('form#user_delete button').click();
                    layer.close(index);
                },
            })
        }
    </script>
{% endif %}