{% extends "base.html" %}
{% load staticfiles %}
{% load my_filters_and_tags %}
{% block title %}
    {% if article.belongs %}
    {{ article.belongs }}: {{ article.title }}
    {% else %}
    文章：{{ article.title }}
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col-12 mt-4 mb-4">
                {% if article.belongs %}
                {{ article.belongs }}:
                {% endif %}
                {{ article.title }}</h1>
                <!-- 标题图 -->
            {% if article.avatar %}
            <br><br>
            <div class="col-25">
            <img src="{{ article.avatar.url }}" 
                alt="avatar" 
                style="max-width:150%; border-radius: 20px "
            >
            </div><br><br>
            {% endif %}
            <div class="col-12 alert alert-success">
                作者：{{ article.author }}
                {% if user == article.author %}
                <br>
                    <a href="#" onclick="confirm_delete()">删除文章</a>
                    <br>
                    <a href="{% url 'article:article_update' article.id %}">编辑文章</a>
                {% endif %}
                <br>
            <!-- 显示浏览量 -->
            <div>
                浏览：{{ article.total_views }}
            </div>
            </div>
            <br>
            <div class="col-12 alert alert-info">摘要：{{ article.main }}</div>
            <br>
            <div class="col-9">
                <style type="text/css">
                    #article_id > p > img {
                        width: 100%;
                    }
                </style>
                <div id="article_id">
                    <p>{{ article.body|safe  }}</p>
                </div>
            </div>
            <div class="col-3 mt-4 d-none d-lg-block" id="sidebar" class="sidebar">
                <div class="sidebar__inner">
                    <h4><strong>目录</strong></h4>
                    <hr>
                    <div>
                        {{ toc|safe }}
                    </div>
                </div>
            </div>
            <style>
                .sidebar{
                    will-change: min-height;
                }
            
                .sidebar__inner{
                    transform: translate(0, 0);
                    transform: translate3d(0, 0, 0);
                    will-change: position, transform;
                }
            </style>
            <!-- 相邻文章导航 -->
            {% if pre_article %}
            <div class="col-auto">
                <a  href="{{ pre_article.get_absolute_url }}" 
                class="btn btn-info" 
                data-toggle="tooltip" data-placement="top" title="{{ pre_article.title}}"
                >
                    上一篇
                </a>
            </div>
        {% endif %}
        <div class="row justify-content-end">
        {% if next_article %}
        <div class="col-auto mr-auto">
            <a  href="{{ next_article.get_absolute_url }}" 
                class="btn btn-info"
                data-toggle="tooltip" data-placement="top" title="{{ next_article.title}}"
            >
                下一篇
            </a>
        </div>
    {% endif %}

</div><br><hr><br>
            <div style="text-align:center;" class="mt-4">
                <button class="btn btn-outline-danger"
                        type="button"
                        onclick="validate_is_like(
                                '{% url 'article:increase_likes' article.id %}',
                                {{ article.id }},
                                {{ article.likes }}
                                )"
                        >
                    <span>点赞</span>
                    <span>
                        <i class="zi zi_love" zico="爱心" style="color: rgb(206, 25, 25);"></i>
                    </span>
                    <span id="likes_number">
                        {{ article.likes }}
                    </span>
                </button>
            </div><hr><hr>
            <!-- 发表评论 -->
    <hr><hr><br><br><br>
    {% if user.is_authenticated %}
        <div>
            <form 
                action="{% url 'comment:post_comment' article.id %}" 
                method="POST"
            >
            {% csrf_token %}
                <div class="form-group">
                    <label for="body">
                        <strong>
                            我也要发言：
                        </strong>
                    </label>
                    <div>
                        {{ comment_form.media }}
                        {{ comment_form.body }}
                    </div>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary ">
                    <i class="zi zi_fly" zico="纸飞机"></i>
                    发送
                </button>                    
            </form>
        </div>
        <br><br><br><hr><hr>
    {% else %}
        <br>
        <h5 class="row justify-content-center">
            请<a href="{% url 'userprofile:login' %}">登录</a>后回复
        </h5>
        <br>
    {% endif %}

        <hr><hr><br><br><br><br><br>
    <!-- 显示评论 -->
    <h4>共有{{ comments.count }}条评论</h4>
    <div>
        {% for comment in comments %}
            <hr>
            <p>
                <strong style="color: pink">
                    {{ comment.user }}
                </strong> 于 
                <span style="color: green">
                    {{ comment.created | timesince_zh }}
                </span> 评论：
            </p>
            <div id="comment_elem_{{ comment.id }}">{{ comment.body|safe }}</div>
        {% endfor %}
    </div>
</div>
        </div>
    </div>
    <script>
        // 删除文章的函数
        function confirm_delete() {
            // 调用layer弹窗组件
            layer.open({
                // 弹窗标题
                title: "确认删除",
                // 正文
                content: "确认删除这篇文章吗？",
                // 点击确定按钮后调用的回调函数
                yes: function(index, layero) {
                    // 指定应当前往的 url
                    location.href='{% url "article:article_delete" article.id %}'
                },
            })
        }
    </script>
{% endblock content %}

{% block script %}
<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">
<script src="{% static 'sticky_sidebar/jquery.sticky-sidebar.min.js' %}"></script>
<script type="text/javascript">
    $('#sidebar').stickySidebar({
        topSpacing: 20,
        bottomSpacing: 20,
    });
</script>
<script>
    $(".django-ckeditor-widget").removeAttr('style');
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script src="{% static 'csrf.js' %}"></script>
<script>
    // 点赞功能主函数
    function validate_is_like(url, id, likes) {
        // 取出 LocalStorage 中的数据
        let storage = window.localStorage;
        const storage_str_data = storage.getItem("my_blog_data");
        let storage_json_data = JSON.parse(storage_str_data);
        // 若数据不存在，则创建空字典
        if (!storage_json_data) {
            storage_json_data = {}
        };
        // 检查当前文章是否已点赞。是则 status = true
        const status = check_status(storage_json_data, id);
        if (status) {
            layer.msg('已经点过赞了哟~');
            // 点过赞则立即退出函数
            return;
        } else {
            // 用 Jquery 找到点赞数量，并 +1
            $('span#likes_number').text(likes + 1).css('color', '#dc3545');
        }
        // 用 ajax 向后端发送 post 请求
        $.post(
            url,
            // post 只是为了做 csrf 校验，因此数据为空
            {},
            function(result) {
                if (result === 'success') {
                    // 尝试修改点赞数据
                    try {
                        storage_json_data[id] = true;
                    } catch (e) {
                        window.localStorage.clear();
                    };
                    // 将字典转换为字符串，以便存储到 LocalStorage
                    const d = JSON.stringify(storage_json_data);
                    // 尝试存储点赞数据到 LocalStorage
                    try {
                        storage.setItem("my_blog_data", d);
                    } catch (e) {
                        // code 22 错误表示 LocalStorage 空间满了
                        if (e.code === 22) {
                            window.localStorage.clear();
                            storage.setItem("my_blog_data", d);
                        }
                    };
                } else {
                    layer.msg("与服务器通信失败..过一会儿再试试呗~");
                }

            }
        );
    };

    // 辅助点赞主函数，验证点赞状态
    function check_status(data, id) {
        // 尝试查询点赞状态
        try {
            if (id in data && data[id]) {
                return true;
            } else {
                return false;
            }
        } catch (e) {
            window.localStorage.clear();
            return false;
        };
    };
</script>
{% endblock script %}